
CREATE PROCEDURE 
[dbo].[spMakeEntry]
@StudentID INT,
@EntryDate DateTime,
@EntryType TINYINT, -- 1 Daily, 2 Monthly
@TripType TINYINT, -- 1 Walk, 2 Bike, 3 Skate\Scoot, 4 School Bus, 5 RTD, 6 Carpool
@Trips INT, -- Only for monthly, spMakeEntry will run for each type
@GUID UNIQUEIDENTIFIER--, -- Generated by client to prevent duplicate inserts
--@ErrMess VARCHAR(20) = '' OUTPUT,
--@RetVal TINYINT = 1 OUTPUT
/*
SAMPLE CALL

DECLARE @NEWGUID UNIQUEIDENTIFIER = NEWID(), @Date DATETIME = GETDATE()
EXEC spMakeEntry 1234, @Date, 2, 1, 0, @NEWGUID

*/
AS
BEGIN
DECLARE @RetVal TINYINT, @ErrMess VARCHAR(40)
	-- DO CLEANUP HERE (Should we be appending instead?)
		--If already daily entry delete and remake
		DELETE FROM trips WHERE ID = @StudentID
			AND DAY(EntryDate) = DAY(@EntryDate)
			AND EntryType = 1
		IF @@ROWCOUNT > 0
		BEGIN
			SET @ErrMess = 'Existing daily entry has been overwritten.  '
		END
		--If already monthly entry delete and display message
		DELETE FROM trips WHERE ID = @StudentID
			AND MONTH(EntryDate) = MONTH(@EntryDate)
			AND EntryType = 2
			AND Rp <> @GUID

		IF @@ROWCOUNT > 0
		BEGIN
			SET @ErrMess = @ErrMess + 'Existing monthly entry has been deleted.  '
		END

		IF @EntryType = 1 
		BEGIN
			INSERT INTO Trips (ID, TripType, EntryType, EntryDate, Trips) 
				SELECT @StudentID, @TripType, @EntryType, @EntryDate, 1
		END
		ELSE
		BEGIN
			INSERT INTO Trips (ID, TripType, EntryType, EntryDate, Trips, Rp) 
				SELECT @StudentID, @TripType, @EntryType, @EntryDate, @Trips, @GUID
		END
IF @ErrMess > '' GOTO ERROR
RETURN
ERROR:
	SET @RetVal = -1
END

GO

CREATE PROCEDURE
spImportData
AS
BEGIN
SELECT 1
--allow excel access
--sp_configure 'show advanced options', 1;
--RECONFIGURE;
--sp_configure 'Ad Hoc Distributed Queries', 1;
--RECONFIGURE;

----drop and recreate temp table from modified excel file
--drop table _physproptemp
--SELECT * INTO _physproptemp
--FROM OPENROWSET('Microsoft.ACE.OLEDB.12.0', 'Excel 12.0;HDR=YES;Database=C:\Users\Admin\Desktop\PA Attribut Values_List.xls;',[Sheet1$])

END